<div class="container-fluid">
  <h3>Lista de Producciones</h3>
  <button class="btn btn-primary btn-sm" (click)="onCreateNavigate()">Crear</button>
  <div class="row">
    <div class="col-md-4" *ngFor="let p of productions">
      <div class="card">
        <img class="card-img-top" [src]="p.poster" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>
          <p class="card-text">{{ p.genre }}</p>
          <button class="btn btn-primary btn-sm" (click)="onMirarNavigate()">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
