<div class="container-fluid">
  <h3>Lista de Producciones</h3>
  <div class="col-12">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Poster</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let p of productions">
                  <td>{{ p.title }}</td>
                  <td>{{ p.poster }}</td>
                  <td>
                      <button type="button" class="btn btn-primary" (click)="onEditarNavigate(p.title)" title="Editar">Editar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
