<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Streamify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home</a>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Información
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/crear-info">Crear Información</a>
                  <a class="dropdown-item" routerLink="/actualizar-info">Actualizar Información</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducciones" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Producciones
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownProducciones">
                  <a class="dropdown-item" routerLink="/crear-produccion">Crear Producción</a>
                  <a class="dropdown-item" routerLink="/leer-produccion">Leer Producción</a>
                  <a class="dropdown-item" routerLink="/borrar-produccion">Borrar Producción</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/agregar-usuario">Agregar Usuario</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
